h1 {
    -webkit-text-stroke: 1px rgb(0, 0, 0); /* Add a thicker text stroke */
    font-family: Arial, sans-serif;
    color: rgb(219, 160, 83);
    text-align: center;
    font-size: 36px; /* Increase the font size */
}

h2 {
    font-family: Arial, sans-serif;
    color: rgb(0, 0, 0);
    text-align: left;
    font-size: 20px; /* Increase the font size */
    font-weight: bold; /* Add bold font weight */
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.button {
    width: 160px; /* Increase the button width */
    height: 60px; /* Increase the button height */
    background-color: rgb(219, 160, 83);
    font-size: 18px; /* Decrease the font size */
    font-family: Arial, sans-serif;
    border-radius: 12px;
    border-color: rgb(158, 158, 158);
    transition: background-color 0.3s ease; /* Add a smooth transition effect */
}

.button:hover {
    background-color: rgb(238, 183, 108); /* Change the background color on hover */
    cursor: pointer;
}